{# templates/base.layout.html #}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='icon' href='/static/img/favicon.ico'>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
        <title>Mibox</title>
    </head>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <body>
        <header>
            <h1><a href='/'>Mibox</a></h1>
        </header>
       <nav>
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                    <a href="/user/login">Login</a>
                    <a href="/user/signup">Signup</a>
            </div>
        </nav>
        <section>
        {% block content %}
            <h1>Welcome to {{ title }}!</h1>
        {% endblock content %}
        <section>
        {% include "footer.partial.html" %}
    </body>
</html>
