<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{ title }} - Snippetbox</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href='/'>Mibox</a></h1>
        </header>
        <nav>
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                    <a href="/user/signup">Signup</a>
                    <a href="/user/login">Login</a>
            </div>
        </nav>
        <section>
        <section>
    </body>
</html>
